{
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["react-app", "plugin:@typescript-eslint/recommended", "prettier", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
